{% load i18n %}
<h4>Current tenant</h4>
<table>
	<thead>
		<tr>
			<th>Tenant Property</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		{% for property, value in tenant.items %}
			<tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
				<td>{{ property }}</td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


<h4>Connection properties</h4>
<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		{% for property, value in connection %}
			<tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
				<td>{{ property }}</td>
				<td><code>{{ value|pprint }}</code></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
